/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --accent-color: #ff0070;
    --secondary-color: #db00ff;
    --title-color: #ff0070;
    --title-decor-color: #000028;
    --article-text-color: #f1b2ce;
    --decor-color: #ff0070;
    --button-color: #ff0070;
    --page-bg-cover: #000028;
    --hover-button-color: rgb(255 0 122 / 0.4);
    --cover-image: url(../images/cover-image-dark.png);
}

.theme-dark .header__corner-element {
    display: inline-flex;
}
